input
  margin 10px 0

#pcanvas
  border solid 2px #333

#palette
  display inline

.palette-color
  width 50px
  height 50px
  display inline-block
  border solid 2px #555
  text-align center
  vertical-align middle // これをつけるとずれない...どうして?
  i
    font-size 30px
    position relative
    top 7px

#pen-size
  width 300px

#painton
  display flex
  padding 10px
  box-sizing border-box

#canvas-container
  width 640px

#tool-container
  margin-left 30px
